@font-face {
    font-family: LETRA1;
    src: url(/Fuentes/Starjhol.ttf);
}
@font-face {
    font-family: LETRA2;
    src: url(/Fuentes//Starjedi.ttf);
}   
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
::-webkit-scrollbar {
    display: none;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#character-info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: ce;
    flex-wrap: wrap;
    gap: 20px;
}

.character {
    background: rgba(2, 32, 22, 0.438);
    border-radius: 8px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
    margin: 40px;
    padding: 10px;
    text-align: center;
    font-size: 100%;}

.character h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
    font-family: 'LETRA2';
    letter-spacing: 2px;
}
strong{
    color: #47CA85;
    font-size: 20pxz;
    font-weight: 900;
}
.character p {
    margin: 5px 0;
    color: #fff;
}
.button-container{
    display: flex;
    justify-content: space-evenly   ;
    justify-content: row;
    flex-wrap: wrap;
}
button {
    background: linear-gradient(45deg,  rgb(235,233,249) 0%,rgb(206,199,236) 67%,rgb(193,191,234) 100%);
    letter-spacing: 1.5px;
    border-radius: 20px 0px;
    border: 2px solid #fff;
    margin: 10px;
    padding: 5px;
    font-size: 130%;
    font-weight: 900;
    color: #000000;
    border: none;
    font-family: 'LETRA1';
    transition: color 0.2s, transform 0.4s;
}

button:hover {
    transform: scale(1.05);
    font-family: 'LETRA2';
}
