
body{
    background-image: url(/Pictures/fondo.png);
    margin: 420px 0 0 0;
    background-attachment: fixed;
    background-repeat: round;
}
.logo{
    display: flex;
    justify-content: center;
    width: 420px
}
.logo img{
    width: 50%;
}
.seccion-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fila1,.fila2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.fotobaner{
    border-radius:20px ;
    object-fit: cover;
}
.baner{
    border: 2px solid black;
}
.baner img{
    width: 100%;
    height: 100%;
}
.baner-ships,.baner-personajes{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    transition-property:backdrop-filter, width, background-image;
    transition-duration:.3s;
}