body{
    background-image: url(/Pictures/fondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.seccion-principal{
    margin: auto;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}